<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建流程</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../bootstrop/css/bootstrap.css">
    <link rel="stylesheet" href="../use/css/common.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../bootstrop/js/bootstrap.js"></script>
    <script src="https://at.alicdn.com/t/font_1502544_blku2x1ka7t.js"></script>

</head>
<style type="text/css">

    .flowpath:hover{
        background: #2aabd2;
    }
</style>
<body>
<div class="container-fluid">
    <!--头部-->
    <div class="container navbar-fixed-top" style="background: white;border-bottom: 2px solid gainsboro;">
        <div class="row">
            <div class="col-xs-2">
                <a href="../use/index.html"><h4><span class="glyphicon glyphicon-menu-left"
                                                    aria-hidden="true"></span></h4></a>
            </div>
            <div class="col-xs-8" style="text-align: center">
                <h4><b id="title">考勤信息</b></h4></div>
        </div>
    </div>
    <div  class="container" style="padding-top: 80px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active create"><a href="#" onclick="myinfo()">我的考勤</a></li>
            <li role="presentation" ><a href="#" onclick="subordinate()">下属职工考勤</a></li>
        </ul>
        <!--<div class="row" style="text-align: center;line-height: 35px;border: 1px solid black">-->
            <!--<div class="col-xs-6" style="padding-right: 0px">-->
               <!--我的考勤-->
            <!--</div>-->
            <!--<div class="col-xs-6"style="padding-left: 0px">-->
                <!--下属职工考勤信息-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="container" style="padding-top: 10px;">
        <div class="row" style="line-height: 35px">
            <div class="col-xs-6" >
                <span style="background: #2aabd2;color: white;width: 50px;height: 35px;display: inline-block;text-align: center">月</span>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <svg class="icon" aria-hidden="true" style="width: 20px;height: 20px" onclick="jian()">
                    <use xlink:href="#icon-linecar106"></use>
                </svg>
                <span  style="display: inline-block;line-height: 35px" id="updata"></span>
                <svg class="icon" aria-hidden="true" style="width: 20px;height: 20px" onclick="jia()">
                    <use xlink:href="#icon-arrow-right"></use>
                </svg>
            </div>
        </div>
        <!--下属职工考勤信息-->
        <div class="row" id="subordinate" style="line-height: 35px;display: none">
            <div class="col-xs-4">
                张三
            </div>
            <div class="col-xs-8" style="text-align: right">
                全勤
            </div>
            <div class="col-xs-4">
                李四
            </div>
            <div class="col-xs-8" style="text-align: right">
                迟到2次,早退1次
            </div>
        </div>
        <!--我的考勤-->
        <div class="row"  id="myinfo" style="line-height: 35px">
            <div class="col-xs-6">
                上班天数
            </div>
            <div class="col-xs-6" style="text-align: right;color: grey">21</div>
            <div class="col-xs-6">
                迟到
            </div>
            <div class="col-xs-6"style="text-align: right;color: grey">两次  共三小时</div>
            <div class="col-xs-6" >
                早退
            </div>
            <div class="col-xs-6" style="text-align: right;color: grey">两次  共三小时</div>
            <div class="col-xs-6">
                缺卡
            </div>
            <div class="col-xs-6" style="text-align: right;color: grey">1次</div>
            <div class="col-xs-6">
                请假
            </div>
            <div class="col-xs-6" style="text-align: right;color: grey">3次 共两天</div>
            <div class="col-xs-6">
                旷工
            </div>
            <div class="col-xs-6" style="text-align: right;color: grey">1次 共两天</div>
            <div class="col-xs-6">
                加班
            </div>
            <div class="col-xs-6" style="text-align: right;color: grey">3次 共4小时</div>
        </div>
    </div>




</div>
</body>
<script  type="text/javascript" src="../myjs/common.js"></script>
<script>
    function subordinate(){
        $("#subordinate").show();
        $("#myinfo").hide();
    }
    function myinfo(){
        $("#subordinate").hide();
        $("#myinfo").show();
    }

    $('.nav-tabs a').click(function (e) {
        e.preventDefault()
        console.log(e);
        $(this).tab('show')
    })
        $(function () {
            let d = new Date();
            var nowYear = d.getFullYear();
            var nowMonth = d.getMonth();
            var nowDay = d.getDate();
            $("#updata").text(nowYear+"-"+nowMonth);
        })
        function jian() {
            let jian=$("#updata").text();
            let jianYear=jian.split("-")[0];
            let jianMonth=jian.split("-")[1];
            if(jianMonth==0){
                jianYear--;
                jianMonth=12;
            }else {
                jianMonth--;
            }
            $("#updata").text(jianYear+"-"+jianMonth)
            // alert(jia+"年"+jianYear+"月"+jianMonth);
        }
        function jia() {
            let jia=$("#updata").text();
            let jiaYear=jia.split("-")[0];
            let jiaMonth=jia.split("-")[1];
            if(jiaMonth==12){
                jiaYear++;
                jiaMonth=0
            }else {
                jiaMonth++;
            }
            $("#updata").text(jiaYear+"-"+jiaMonth)
        }
</script>
</html>