<!--
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrop/css/bootstrap.css">
	<link rel="stylesheet" href="../publicBottom/css/publicBottom.css">
    <script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/publicBottom.js"></script>
    <script type="text/javascript" charset="utf-8" src="../bootstrop/js/bootstrap.js"></script>
    </head>
    <body>
		<div class="publicBottom">
			<nav class="navbar-fixed-bottom">
				<div class="container">
					<div class="row">
						<div class="publicBottomColXs5 col-xs-4 center" ><img src="../publicBottom/images/publicBottomInformationRed.png" class="publicBottomImages center-block" id="publicBottomInformation"/><div class="text-center">消息</div></div>
                        <div class="publicBottomColXs5 col-xs-4 center" ><img src="../publicBottom/images/publicBottomApplyBlack.png" class="publicBottomImages center-block" id="publicBottomApply"/><div class="text-center">应用</div></div>
						<div class="publicBottomColXs5 col-xs-4 center" ><img src="../publicBottom/images/publicBottomOrganizationBlack.png" class="publicBottomImages center-block" id="publicBottomOrganization"/><div class="text-center">组织</div></div>
						<div class="publicBottomColXs5 col-xs-4 center" ><img src="./images/publicBottomNewBlack.png" class="publicBottomImages center-block" id="publicBottomNew"/><div class="text-center">新建</div></div>
						<div class="publicBottomColXs5 col-xs-4 center" ><img src="./images/publicBottomMyBlack.png" class="publicBottomImages center-block" id="publicBottomMy"/><div class="text-center">我</div></div>
					</div>
				</div>
			</nav>
		</div>
    </body>
</html>
-->

<!-- bootstrap底部导航条start -->
<div class="publicBottom">
    <nav class="navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="publicBottomColXs5 col-xs-4 center" ><img src="../publicBottom/images/publicBottomInformationBlack.png" class="publicBottomImages center-block" id="publicBottomInformation"/><div class="text-center">消息</div></div>
                <div class="publicBottomColXs5 col-xs-4 center" ><img src="../publicBottom/images/publicBottomApplyRed.png" class="publicBottomImages center-block" id="publicBottomApply"/><div class="text-center">应用</div></div>
                <div class="publicBottomColXs5 col-xs-4 center" ><img src="../publicBottom/images/publicBottomOrganizationBlack.png" class="publicBottomImages center-block" id="publicBottomOrganization"/><div class="text-center">组织</div></div>
                <!--
                <div class="publicBottomColXs5 col-xs-4 center" ><img src="./images/publicBottomNewBlack.png" class="publicBottomImages center-block" id="publicBottomNew"/><div class="text-center">新建</div></div>
                <div class="publicBottomColXs5 col-xs-4 center" ><img src="./images/publicBottomMyBlack.png" class="publicBottomImages center-block" id="publicBottomMy"/><div class="text-center">我</div></div>
                -->
            </div>
        </div>
    </nav>
</div>
<!-- bootstrap底部导航条end-->