<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrop/css/bootstrap.css">
	<link rel="stylesheet" href="../publicBottom/css/publicBottom.css">
    <!--jq-->
    <script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!--bootstrap 样式-->
    <script type="text/javascript" charset="utf-8" src="../bootstrop/js/bootstrap.js"></script>
    </head><!-- 在头部引入bootstrap的css包与js包 -->
    <body>  
		<!-- 内容start -->
		<div class="centerContain">
			<div class="publicBottomInformation center">
				<caption>基本的表格布局1</caption>
			</div>
			<div class="publicBottomOrganization center hidden">
				<caption>基本的表格布局2</caption>
			</div>
			<div class="publicBottomApply center hidden">
				<caption>基本的表格布局3</caption>
			</div>
			<div class="publicBottomNew center hidden">
				<caption>基本的表格布局4</caption>
			</div>
			<div class="publicBottomMy center hidden">
				<caption>基本的表格布局5</caption>
			</div>
		</div>
		<!-- 内容end -->	
    </body>
</html>