/* 按钮右距离10px */
.btn{
    margin-right: 10px;
}
/* 所有表格内容居中 */
.table th, .table td {
    vertical-align: middle !important;
}
/* checkbox */
input.labelauty + label > span.labelauty-checked-image
{
    background-image: url( ../images/input-checked.png );
}
.RadioStyle input{
    display: none;
}
-->
.RadioStyle label{
    border: 1px solid #adadad;
    padding: 2px 10px 2px 5px;
    line-height: 28px;
    min-width: 80px;
    text-align: center;
    float: left;
    margin: 5px;
    border-radius: 5px;
}
.RadioStyle input:checked+label{
    color: white;
    background: url(../images/input-checked.png) 400px 100px;
}
.clear{
    clear: both;
}
/* 开关按钮 */
.Switch {
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    padding: 0;
}
.Switch li {
    clear: both;
    list-style: none;
}
.Switch input {
    display: none
}
.Switch label {
    width: 52px;
    background: #CCC;
    height: 28px;
    border-radius: 14px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.Switch label em {
    width: 26px;
    height: 26px;
    float: left;
    margin: 1px;
    border-radius: 13px;
    box-shadow: 2px 3px 8px rgba(0,0,0,.1);
    background: #FFF;
}
.Switch input:checked + label {
    background: #a4d714;
}
.Switch input:checked + label em {
    float: right;
}
/* 公共start */
/* 隐藏*/
.hidden{
	display: none;
}
ol, ul {
	list-style: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, textarea,select{
    margin: 0;
    padding: 0;
    font-weight: normal;
    border: none;
    vertical-align: baseline;
}
/* 公共end */
/* 组织start */
/* 组织组织树*/
.organizationHeaderOrganization .organizationHeaderOrganizationClick, .organizationHeaderOrganizationLi{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border:1px solid #ccc;
	border-style: none none solid none;
}
.organizationHeaderOrganization .organizationHeaderOrganizationSpan{
	padding-right: 10px; 
}
.organizationHeaderOrganization .organizationHeaderOrganizationClick{
	background-color: #337ab7;
	padding-left: 20px;
}
.organizationHeaderOrganization .organizationHeaderOrganizationInput{
	border-radius: 6px;
	margin-right: 10px; 
}
.organizationHeaderOrganization .organizationHeaderOrganizationLi{
	padding-left: 80px; 
}
.organizationHeaderOrganization .organizationHeaderOrganizationUl .organizationHeaderOrganizationClick{
	padding-left: 40px; 
}
.organizationHeaderOrganization .organizationHeaderOrganizationUl{
	display: none;
}
/* 组织end */
td{width:12.5%;height:40px;line-height:40px;}