/* 右侧左上按钮上下10px */
.rightManageDiv {
    padding-top: 10px;
}

.btn {
    margin: 10px 0;
}

/* 表格内按钮左侧10px */
.table .btn {
    margin: 0 0;
    margin-right: 6px;
}

/* 所有表格内容居中 */
.table th, .table td {
    vertical-align: middle !important;
}

/* 公共start */
/* 隐藏*/
.hidden {
    display: none;
}

ol, ul {
    list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, textarea, select {
    margin: 0;
    padding: 0;
    font-weight: normal;
    border: none;
    vertical-align: baseline;
}

/* 公共end */
/* 组织start */
/* 组织组织树*/
.organizationHeaderOrganization .organizationHeaderOrganizationClick, .organizationHeaderOrganizationLi {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-style: none none solid none;
}

.organizationHeaderOrganization .organizationHeaderOrganizationSpan {
    padding-right: 10px;
}

.organizationHeaderOrganization .organizationHeaderOrganizationClick {
    background-color: #337ab7;
    padding-left: 20px;
}

.organizationHeaderOrganization .organizationHeaderOrganizationInput {
    border-radius: 6px;
    margin-right: 10px;
}

.organizationHeaderOrganization .organizationHeaderOrganizationLi {
    padding-left: 80px;
}

.organizationHeaderOrganization .organizationHeaderOrganizationUl .organizationHeaderOrganizationClick {
    padding-left: 40px;
}

.organizationHeaderOrganization .organizationHeaderOrganizationUl {
    display: none;
}

/* 组织end */

#usersRole .btn {
    width: 100px;
    margin: 10px 20px;
    height: 40px;
}

.container {
    width: 100%;
}

tr {
    text-align: center;
}
caption{
    text-align: center;
    color: #333;
    font-size: 20px;
    line-height: 40px;
}
.personInfomationManageEdit img{
    height: 120px;
    width: 100%;
    display: block;
}
