<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="job.mapper.CompanyInfoMapper">
    <select id="findByUserId" resultType="job.entity.CompanyInfo" parameterType="java.lang.Integer">
        SELECT * from company_info
        where user_id =  #{userId}
    </select>
</mapper>
