<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="swtech.pageDesignControl.mapper.DepartmentMapper">
    <select id="selectByPageAndCondition" resultType="swtech.pageDesignControl.entity.Department"
            parameterType="swtech.pageDesignControl.entity.Department">
        SELECT * FROM department where 1=1
        <if test="department!=null and department.dname!=''">
            and dname like concat('%',#{department.dname},'%')
        </if>
        LIMIT #{pageStart},#{pageSize}
    </select>

    <select id="selectCount" resultType="int">
        SELECT count(*) FROM department
    </select>
</mapper>
