<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="swtech.pageDesignControl.mapper.FlowMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="swtech.pageDesignControl.entity.Flow" >
        <id column="fid" property="fid" jdbcType="INTEGER" />
        <result column="ftype" property="ftype" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="fapply_time" property="fapplyTime" jdbcType="TIMESTAMP" />
        <result column="fleave_type" property="fleaveType" jdbcType="INTEGER" />
        <result column="fstart_time" property="fstartTime" jdbcType="TIMESTAMP" />
        <result column="fend_time" property="fendTime" jdbcType="TIMESTAMP" />
        <result column="fstatus" property="fstatus" jdbcType="INTEGER" />
        <result column="fuid_charge" property="fuidCharge" jdbcType="INTEGER" />
        <result column="fuid_charge_hand" property="fuidChargeHand" jdbcType="TIMESTAMP" />
        <result column="fuid_manager" property="fuidManager" jdbcType="INTEGER" />
        <result column="fuid_manager_hand" property="fuidManagerHand" jdbcType="TIMESTAMP" />
        <result column="fuid_staffing" property="fuidStaffing" jdbcType="INTEGER" />
        <result column="fuid_staffing_hand" property="fuidStaffingHand" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="swtech.pageDesignControl.entity.Flow" extends="BaseResultMap" >
        <result column="fapply_reason" property="fapplyReason" jdbcType="LONGVARCHAR" />
        <result column="fuid_charge_refuse" property="fuidChargeRefuse" jdbcType="LONGVARCHAR" />
        <result column="fuid_manager_refuse" property="fuidManagerRefuse" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    fid, ftype, uid, fapply_time, fleave_type, fstart_time, fend_time, fstatus, fuid_charge,
    fuid_charge_hand, fuid_manager, fuid_manager_hand, fuid_staffing, fuid_staffing_hand
  </sql>
    <sql id="Blob_Column_List" >
    fapply_reason, fuid_charge_refuse, fuid_manager_refuse
  </sql>
</mapper>
