<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="swtech.pageDesignControl.mapper.RoleMapper">
    <select id="getRoleByUtelephonenumber" resultType="swtech.pageDesignControl.entity.Role" parameterType="java.lang.String">
        SELECT * from role r
        join user_role ur on ur.rid = r.rid
        join users u on ur.uid = u.uid
        where u.utelephonenumber =  #{utelephonenumber}
    </select>

    <select id="selectByPageAndCondition" resultType="swtech.pageDesignControl.entity.Role"
            parameterType="swtech.pageDesignControl.entity.Role">
        SELECT * FROM role where 1=1
        <if test="role!=null and role.rname!='' and role.rname!='null'">
            and rname like concat('%',#{role.rname},'%')
        </if>
        LIMIT #{pageStart},#{pageSize}
    </select>

    <select id="selectCount" resultType="int">
        SELECT count(*) FROM role
    </select>
</mapper>
