<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="swtech.pageDesignControl.mapper.TardyMapper">
    <select id="selectByPageAndCondition" resultType="swtech.pageDesignControl.entity.Tardy"
            parameterType="swtech.pageDesignControl.entity.Tardy">
        SELECT * FROM tardy where 1=1
        <if test="tardy!=null and tardy.tname!='' and tardy.tname!='null'">
            and tname like concat('%',#{tardy.tname},'%')
        </if>
        <if test="tardy!=null and tardy.date!='' and tardy.date!='null'">
            and date like concat('%',#{tardy.date},'%')
        </if>
        LIMIT #{pageStart},#{pageSize}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(*) FROM tardy
    </select>
</mapper>
