<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>邮件模板</title>
</head>
<body>
<p>李鸿智先生：</p>
<p>您好!我校办公室收到您的简历。经过办公室初步筛选，我们认为您基本具备 计算机教师 岗位的任职资格，因此正式通知您来我校参加面试。具体要求详见如下：</p>
<p>一、面试时间：2019年10月21日 9:00</p>
<p>二、面试地点：广州市天河区珠吉街吉山坑尾路12号吉岐路2号 华成办公楼二楼（招生办旁边的楼梯）行政办公室</p>
<p>三、携带资料 个人简历、身份证、学历证书等相关证书及复印件；个人一寸免冠、近期、彩色照片1 张；3.准备10-15分钟的试讲</p>
<p>四、联系方式 联系人：办公室，高老师； 联系电话：020-28078762；18588795268</p>
<p>五、面试路线：地铁四号线车陂站C出口转B20 到 天河儿童公园北门总站 往左走100米</p>
<p>广州华成理工职业技术学校</p>
<p>2019年10月17日</p>
</body>
</html>
