<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/bootstrop/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/use/css/index.css}">
    <!--jq-->
    <script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!--bootstrap 样式-->
    <script type="text/javascript" charset="utf-8" th:src="@{/bootstrop/js/bootstrap.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/bootstrop/js/bootstrap.min.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/myjs/httpData.config.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/myjs/common.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/publicBottom/js/publicBottom.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/myjs/index.js}"></script>
    <script src="https://at.alicdn.com/t/font_1502544_j8yf3v34uai.js"></script>
</head><!-- 在头部引入bootstrap的css包与js包 -->
<style type="text/css">
    .modal-dialog{
        margin: 0px;
    }
    .modal{
        padding-left: 0px;
    }
</style>
<body>
<!-- 内容start -->

<div class="centerContain">
	<div class="publicBottomInformation hidden center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center" style="font-size:20px;height:40px;line-height:40px;">
                  功能
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control" aria-label="..." placeholder="搜索">
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
        <div  class="container">
            <div class="row" >
                <div class="col-xs-12">
                    <!--常用应用-->
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12" style="text-align: center;">
                    <ul class="list-group row" >
                        <li class="list-group-item col-xs-3" style="border: 0px" id="createProject">
                            <a href="projectManagement.html?status=1">
                            <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                <use xlink:href="#icon-danchuchuangjianxiangmu"></use>
                            </svg>
                            <div class="row" style="padding-top: 10px">
                                创建项目
                            </div>   </a>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="updateProject">
                            <a href="./updateManagement.html">
                                <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                    <use xlink:href="#icon-gengxinxiangmujinzhan"></use>
                                </svg>
                                <div class="row" style="padding-top: 10px">
                                    更新项目
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="writediary">
                            <a href="../daily/writeDaily.html">
                                <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                    <use xlink:href="#icon-xierizhi"></use>
                                </svg>
                                <div class="row" style="padding-top: 10px">
                                    写日志
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="leaveRequest">
                            <a href="../flow/leave.html">
                                <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                    <use xlink:href="#icon-qingjiashenqing"></use>
                                </svg>
                                <div class="row" style="padding-top: 10px">
                                    请假申请
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="applicationOvertime">
                            <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                <use xlink:href="#icon-add-overtime"></use>
                            </svg>
                            <div class="row" style="padding-top: 10px">
                                加班申请
                            </div>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="businessReception">
                            <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                <use xlink:href="#icon-yewuzhaodai"></use>
                            </svg>
                            <div class="row" style="padding-top: 10px">
                                业务招待申请
                            </div>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="goOut">
                            <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                <use xlink:href="#icon-waichushenqingxpx"></use>
                            </svg>
                            <div class="row" style="padding-top: 10px">
                                外出申请
                            </div>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="travelRequest">
                            <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                <use xlink:href="#icon-waichushenqing"></use>
                            </svg>
                            <div class="row" style="padding-top: 10px">
                                出差申请
                            </div>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="sealUse">
                            <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                <use xlink:href="#icon-yinzhangshiyongshenqing"></use>
                            </svg>
                            <div class="row" style="padding-top: 10px">
                                印章使用申请
                            </div>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="paymentApplication">
                            <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                <use xlink:href="#icon-caiwufukuan"></use>
                            </svg>
                            <div class="row" style="padding-top: 10px">
                                财务付款申请
                            </div>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="profiling">
                            <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                <use xlink:href="#icon-caiwufukuan"></use>
                            </svg>
                            <div class="row" style="padding-top: 10px">
                                档案录入
                            </div>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="workAttendance">
                            <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                <use xlink:href="#icon-caiwufukuan"></use>
                            </svg>
                            <div class="row" style="padding-top: 10px">
                                考勤录入
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--<div class="container" style="background: #dbdbdb;height: 10px"></div>-->
    </div>
    <div class="publicBottomApply hidden center">
        <div  class="container">
            <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center" style="font-size:20px;height:40px;line-height:40px;">
                   动态
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: center;">
                    <ul class="list-group row" >
                        <li class="list-group-item col-xs-3" style="border: 0px" id="applyCheck">
                            <a href="../flow/flowPath.html">
                                <img th:src="@{/use/image/流程管理.png}" height="50px" width="50px">
                                <div class="row" style="padding-top: 10px">
                                    申请查看
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="viewProject">
                            <a href="projectManagement.html">
                                <img th:src="@{/use/image/项目管理.png}" height="50px" width="50px">
                                <div class="row" style="padding-top: 10px">
                                    查看项目
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="viewLog">
                            <a href="../daily/daily.html">
                                <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                    <use xlink:href="#icon-ziyuanxhdpi"></use>
                                </svg>
                                <div class="row" style="padding-top: 10px">
                                    查看日志
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="CheckAttendance">
                            <a href="../checkingin/checkingin.html">
                                <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                    <use xlink:href="#icon-ic_kaoqinbiao"></use>
                                </svg>
                                <div class="row" style="padding-top: 10px">
                                    考勤
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="systemMessages">
                            <div style="position: relative">
                                <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;">
                                    <use xlink:href="#icon-ic_kaoqinbiao"></use>
                                </svg>
                                <span class="badge" style="position: absolute;top: 39px;margin-left: -15px;background: red">99</span>
                            </div>
                            <div class="row" style="padding-top: 10px">
                                系统消息
                            </div>
                        </li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="backlogInformation">
                            <a href="../flow/flowPath.html">
                            <div style="position: relative">
                                <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;">
                                    <use xlink:href="#icon-xiaoxi-copy"></use>
                                </svg>
                                <span class="badge" style="position: absolute;top: 39px;margin-left: -15px;background: red">99</span>
                            </div>
                            <div class="row" style="padding-top: 10px">
                                待办信息
                            </div></a></li>
                        <li class="list-group-item col-xs-3" style="border: 0px" id="staffLibrary">
                            <!--<a href="../checkingin/checkingin.html">-->
                                <svg class="icon" aria-hidden="true" style="width: 50px;height: 50px;color: #2aabd2">
                                    <use xlink:href="#icon-tushuguan"></use>
                                </svg>
                                <div class="row" style="padding-top: 10px">
                                    员工图书馆
                                </div>
                            <!--</a>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" style=" height: 40%;
                                      position: fixed;
                                      overflow-y:scroll; overflow-x: hidden;">
            <div class="row">
                <div class="col-xs-12" style="line-height: 40px ;">
                    <b>最近动态</b>
                </div>
            </div>
            <div class="row" style="position: relative">
                <div class="col-xs-12" id="pushServer" style="position: relative">

                </div>
            </div>
        </div>
    </div>
    <div class="publicBottomOrganization center hidden" style="padding-bottom:80px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center" style="font-size:20px;height:40px;line-height:40px;">
                   通讯录
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control" aria-label="..." placeholder="搜索">
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
        <div class="organizationContain">
            <div class="organizationCenter organizationHeaderOrganization">
                <ul>
                    <li class="">
                        <div class="organizationHeaderOrganizationClick" id="">
                            <span class="glyphicon glyphicon-chevron-right organizationHeaderOrganizationSpan"></span>
                            利捷航空总公司
                        </div>
                        <ul class="organizationHeaderOrganizationUl">
                            <li class="">
                                <div class="organizationHeaderOrganizationClick" id="">
                                    <span class="glyphicon glyphicon-chevron-right organizationHeaderOrganizationSpan"></span>
                                    行政部
                                </div>
                                <ul class="organizationHeaderOrganizationUl">
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div> 
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div> 
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
									<li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
									<li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="organizationHeaderOrganizationUl">
                            <li class="">
                                <div class="organizationHeaderOrganizationClick" id="">
                                    <span class="glyphicon glyphicon-chevron-right organizationHeaderOrganizationSpan"></span>
                                    人事部
                                </div>
                                <ul class="organizationHeaderOrganizationUl">
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
                                       <div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
					<li class="">
                        <div class="organizationHeaderOrganizationClick" id="">
                            <span class="glyphicon glyphicon-chevron-right organizationHeaderOrganizationSpan"></span>
                            利捷航空分公司
                        </div>
                        <ul class="organizationHeaderOrganizationUl">
                            <li class="">
                                <div class="organizationHeaderOrganizationClick" id="">
                                    <span class="glyphicon glyphicon-chevron-right organizationHeaderOrganizationSpan"></span>
                                    行政部
                                </div>
                                <ul class="organizationHeaderOrganizationUl">
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
									<li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
									<li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="organizationHeaderOrganizationUl">
                            <li class="">
                                <div class="organizationHeaderOrganizationClick" id="">
                                    <span class="glyphicon glyphicon-chevron-right organizationHeaderOrganizationSpan"></span>
                                    人事部
                                </div>
                                <ul class="organizationHeaderOrganizationUl">
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
                                       <div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                    <li class="organizationHeaderOrganizationLi clickToPersondetail">
										<div class="" style="float:left;padding-top:5px;padding-right:20px;"><img src="../publicBottom/images/head.png" style="width: 50px; "/></div>
										<div class="" style="float:left;">
											<div style="padding-top: 8px;font-size: 16px;">王伟 [经理]</div>
											<div style="font-size: 14px;color: #A9A9A9">15274935036</div>
										</div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="publicBottomMy center" style="padding-bottom:80px;">
        <div style="background-color: #0ab871;">
			<div class="text-center" style="height:44px;line-height:44px;font-size:20px;padding-top:10px;color:#ffffff">
				张三
			</div>
			<div class="text-center">
				<img src="../publicBottom/images/head.png" class="img-rounded" style="width:70px;padding-top:10px;">
			</div>
			<div class="text-center" style="height:20px;line-height:20px;font-size:16px;margin-bottom:2px;color:#ffffff;margin-top:5px;">
				行政部经理
			</div>
			<div class="text-center" style="height:20px;line-height:20px;font-size:14px;padding-bottom:45px;color:#ffffff">
				15274935036
			</div>
		</div>
		<div>
			<table class="table">
				<tbody style="font-size:16px;">
					<tr style="height:50px;line-height:50px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">姓名</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">张三</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-warning">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">职位</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">经理</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-warning">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">部门</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">行政部</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-warning">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">入职时间</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">2017-06-12</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-warning">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">年假天数</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">5</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-warning">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">毕业时间</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">2007-06</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-success">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">政治面貌</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">群众</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-success">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">电话号码</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">15274935036</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-success">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">电话号码</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">15274935036</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-success">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">微信</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">15274935036</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-success">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">微信</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">15274935036</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-success">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">QQ</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">2325805996</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-success">修改</button></td>
					</tr>
					<tr style="height:35px;line-height:35px;">
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">邮箱</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;">2325805996QQ.com</td>
						<td style="height:50px;line-height:50px;margin:0;padding:0;text-align:center;"><button type="button" class="btn btn-success">修改</button></td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</div>
<!-- 内容end -->

<div id="dibu" class="publicBottom">
    <nav class="navbar-fixed-bottom">
        <div class="container">
            <div class="row" style="background-color: #fff;padding-top:10px">
                <div class="publicBottomColXs5 col-xs-4 center" ><img src="../publicBottom/images/functionBlack.png" class="publicBottomImages center-block" id="publicBottomInformation"/><div class="text-center">功能</div></div>
                <div class="publicBottomColXs5 col-xs-4 center" ><img src="../publicBottom/images/dynamicBlack.png" class="publicBottomImages center-block" id="publicBottomApply"/><div class="text-center">动态</div></div>
                <div class="publicBottomColXs5 col-xs-4 center" ><img src="../publicBottom/images/organizationBlack.png" class="publicBottomImages center-block" id="publicBottomOrganization"/><div class="text-center">通讯录</div></div>
                <div class="publicBottomColXs5 col-xs-4 center" ><img src="../publicBottom/images/myRed.png" class="publicBottomImages center-block" id="publicBottomMy"/><div class="text-center">我</div></div>
            </div>
        </div>
    </nav>
</div>
<!-- bootstrap底部导航条end-->
</body>

</html>
<script>
      let status = window.location.href.split("=")[1];
      if(status==1){
          $(".centerContain .center").addClass("hidden");
          $(".publicBottomOrganization").removeClass("hidden");
          $("#dibu").hide();
          // $("publicBottomMy")
      }


    var analogInformation = [{
        one:{ //项目
            projectName : "项目名",
            createTime : '',
            createProper : "创建人",
            projectSchedule : 40
        }
    },{
        two:{//日志
            createProper: "日志创建人",
            createTime: '',
            desc:"嘎婆阿达....",
        }
        }]

    //模拟数据
    // let defultnum = 30;
    // setInterval(function(){
    //     let datashow='';
    //     let data = new Date();
    //     let yert = data.getFullYear();
    //     let mouth = data.getMonth()+1;
    //     let nowdata = data.getDate();
    //     let hour = data.getHours();
    //     let minute = data.getMinutes();
    //     let second = data.getSeconds();
    //     let one = analogInformation[0].one;
    //     let two =analogInformation[1].two;
    //
    //     if(second%2==1){
    //         datashow='<a href="../daily/dailyinfo.html" style="color: black"><div class="row" style="position: relative">\n' +
    //             '                        <div class="col-xs-12" style="margin: 5px">\n' +
    //             '                            <b style="font-size: 16px;">'+two.createProper+'的日报</b>\n' +
    //             '                        </div>\n' +
    //             '                        <div class="col-xs-12" style="margin: 5px">\n' +
    //             '                            日志详情:\n' + two.desc+
    //             '                        </div>\n' +
    //             '                        <div class="col-xs-12" style="text-align: right;color: gainsboro">\n'
    //             +yert+'-'+mouth+'-'+nowdata+'  '+hour+':'+minute+':'+second+
    //             '                        </div>\n' +
    //             '                    </div></a>';
    //     }else{
    //         defultnum+=5;
    //         if(defultnum==100){
    //             defultnum=30;
    //         }
    //         datashow = '<a href="approval.html" style="color: black"><div class="row" style="position: relative">\n' +
    //             '                        <div class="col-xs-12" style="margin: 5px">\n' +
    //             '                            <b style="font-size: 16px;">'+one.projectName+'</b>\n' +
    //             '                        </div>\n' +
    //             '                        <div class="col-xs-12" style="margin: 5px">\n' +
    //             '  <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width:'+defultnum+'%">'+defultnum+'%</div>'+
    //             '                        </div>\n' +
    //             '                        <div class="col-xs-12" style="text-align: right;color: gainsboro">\n' +
    //              +yert+'-'+mouth+'-'+nowdata+' '+hour+':'+minute+':'+second+
    //             '                        </div>\n' +
    //             '                    </div></a>';
    //     }
    //
    //     $("#pushServer").prepend(datashow);
    // },1000);

    //websocket实时通讯
      function websocket() {
          var websocket = null;

          //判断当前浏览器是否支持WebSocket

          if ('WebSocket' in window) {
              websocket = new WebSocket("ws://localhost:43008/websocket/");
          }

          else {

              alert('Not support websocket')

          }


          //连接发生错误的回调方法

          websocket.onerror = function () {

              setMessageInnerHTML("error");

          };


          //连接成功建立的回调方法

          websocket.onopen = function (event) {

              setMessageInnerHTML("open");

          }


          //接收到消息的回调方法

          websocket.onmessage = function (event) {
              alert(event);
              setMessageInnerHTML(event.data);
              let datashow = '<a href="approval.html" style="color: black"><div class="row" style="position: relative">\n' +
                  '                        <div class="col-xs-12" style="margin: 5px">\n' +
                  '                            <b style="font-size: 16px;">'+one.projectName+'</b>\n' +
                  '                        </div>\n' +
                  '                        <div class="col-xs-12" style="margin: 5px">\n' +
                  '  <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width:'+defultnum+'%">'+defultnum+'%</div>'+
                  '                        </div>\n' +
                  '                        <div class="col-xs-12" style="text-align: right;color: gainsboro">\n' +
                  +yert+'-'+mouth+'-'+nowdata+' '+hour+':'+minute+':'+second+
                  '                        </div>\n' +
                  '                    </div></a>';
              $("#pushServer").prepend(datashow);
          }


          //连接关闭的回调方法

          websocket.onclose = function () {

              setMessageInnerHTML("close");

          }


          //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。

          window.onbeforeunload = function () {

              websocket.close();

          }


          //将消息显示在网页上

          function setMessageInnerHTML(innerHTML) {

              document.getElementById('message').innerHTML += innerHTML + '<br/>';

          }


          //关闭连接

          function closeWebSocket() {

              websocket.close();

          }


          //发送消息

          function send() {

              var message = document.getElementById('text').value;

              websocket.send(message);

          }
      }
</script>