<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录注册页面</title>
    <link rel="stylesheet" th:href="@{/bootstrop/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/use/css/login.css}"/>
    <script type="text/javascript" charset="utf-8" th:src="@{/jquery/jquery.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/bootstrop/js/bootstrap.min.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/myjs/httpData.config.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/myjs/common.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/myjs/public.js}"></script>
    <script src="https://at.alicdn.com/t/font_1502544_j8yf3v34uai.js"></script>
</head>
</header>
<div class="loginAndRegist">
    <div class="container loginAndRegistContainer" id="login">
        <div class="text-center loginAndRegistText">用户登录页面</div>
        <div class="form-horizontal active">
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="loginUtelephonenumber" id="loginUtelephonenumber" placeholder="请输入用户名">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group loginAndRegistTextFrom">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="upassword" id="loginUpassword" placeholder="请输入密码">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8 text-center">
                    <button class="btn btn-primary login" onclick="login()">登录</button>
                    <button class="btn btn-success regist">注册</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <div class="container hidden loginAndRegistContainer" id="regist">
        <div class="text-center loginAndRegistText">用户登录页面</div>
        <div class="form-horizontal active" id="">
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="" id="registUusername" placeholder="请输入用户名">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="" id="registUpassword" placeholder="请输入密码">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="" id="registUpasswordAgin" placeholder="请输入确定密码">
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <select class="form-control" id="registDid">
                        <option selected = "selected">请选择部门</option>
                        <option value="1">开发</option>
                        <option value="2">地面</option>
                        <option value="3">空中</option>
                    </select>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="" id="registUinvitationCode" placeholder="激活码" >
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8 text-center">
                    <button type="submit" class="btn btn-primary submit" onclick="regist()">提交</button>
                    <button class="btn btn-success backLogin">返回</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
